// COLORS -  Coolors Exported Palette - https://coolors.co/628b48-edeec0-46494c-d52941-8499b1

$main-color: #628b48ff;
$secondary-color: #edeec0ff;
$alert-color: #d52941ff;
$dark-color: #46494cff;
$light-color: #8499b1ff;
$contrast-color: #f57200ff; ;
