/* https://coolors.co/628b48-edeec0-46494c-ce273d-f57200 */

/* CSS HEX */
--maximum-green: #628b48ff;
--pale-spring-bud: #edeec0ff;
--davys-grey: #46494cff;
--crimson: #ce273dff;
--safety-orange: #f57200ff;

/* CSS HSL */
--maximum-green: hsla(97, 32%, 41%, 1);
--pale-spring-bud: hsla(61, 58%, 84%, 1);
--davys-grey: hsla(210, 4%, 29%, 1);
--crimson: hsla(352, 68%, 48%, 1);
--safety-orange: hsla(28, 100%, 48%, 1);

/* SCSS HEX */
$maximum-green: #628b48ff;
$pale-spring-bud: #edeec0ff;
$davys-grey: #46494cff;
$crimson: #ce273dff;
$safety-orange: #f57200ff;

/* SCSS HSL */
$maximum-green: hsla(97, 32%, 41%, 1);
$pale-spring-bud: hsla(61, 58%, 84%, 1);
$davys-grey: hsla(210, 4%, 29%, 1);
$crimson: hsla(352, 68%, 48%, 1);
$safety-orange: hsla(28, 100%, 48%, 1);

/* SCSS RGB */
$maximum-green: rgba(98, 139, 72, 1);
$pale-spring-bud: rgba(237, 238, 192, 1);
$davys-grey: rgba(70, 73, 76, 1);
$crimson: rgba(206, 39, 61, 1);
$safety-orange: rgba(245, 114, 0, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #628b48ff,
  #edeec0ff,
  #46494cff,
  #ce273dff,
  #f57200ff
);
$gradient-right: linear-gradient(
  90deg,
  #628b48ff,
  #edeec0ff,
  #46494cff,
  #ce273dff,
  #f57200ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #628b48ff,
  #edeec0ff,
  #46494cff,
  #ce273dff,
  #f57200ff
);
$gradient-left: linear-gradient(
  270deg,
  #628b48ff,
  #edeec0ff,
  #46494cff,
  #ce273dff,
  #f57200ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #628b48ff,
  #edeec0ff,
  #46494cff,
  #ce273dff,
  #f57200ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #628b48ff,
  #edeec0ff,
  #46494cff,
  #ce273dff,
  #f57200ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #628b48ff,
  #edeec0ff,
  #46494cff,
  #ce273dff,
  #f57200ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #628b48ff,
  #edeec0ff,
  #46494cff,
  #ce273dff,
  #f57200ff
);
$gradient-radial: radial-gradient(
  #628b48ff,
  #edeec0ff,
  #46494cff,
  #ce273dff,
  #f57200ff
);

/* Coolors Exported Palette - https://coolors.co/628b48-edeec0-46494c-d52941-8499b1 */

/* CSS HEX */
--maximum-green: #628b48ff;
--pale-spring-bud: #edeec0ff;
--davys-grey: #46494cff;
--rusty-red: #d52941ff;
--shadow-blue: #8499b1ff;

/* CSS HSL */
--maximum-green: hsla(97, 32%, 41%, 1);
--pale-spring-bud: hsla(61, 58%, 84%, 1);
--davys-grey: hsla(210, 4%, 29%, 1);
--rusty-red: hsla(352, 68%, 50%, 1);
--shadow-blue: hsla(212, 22%, 61%, 1);

/* SCSS HEX */
$maximum-green: #628b48ff;
$pale-spring-bud: #edeec0ff;
$davys-grey: #46494cff;
$rusty-red: #d52941ff;
$shadow-blue: #8499b1ff;

/* SCSS HSL */
$maximum-green: hsla(97, 32%, 41%, 1);
$pale-spring-bud: hsla(61, 58%, 84%, 1);
$davys-grey: hsla(210, 4%, 29%, 1);
$rusty-red: hsla(352, 68%, 50%, 1);
$shadow-blue: hsla(212, 22%, 61%, 1);

/* SCSS RGB */
$maximum-green: rgba(98, 139, 72, 1);
$pale-spring-bud: rgba(237, 238, 192, 1);
$davys-grey: rgba(70, 73, 76, 1);
$rusty-red: rgba(213, 41, 65, 1);
$shadow-blue: rgba(132, 153, 177, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #628b48ff,
  #edeec0ff,
  #46494cff,
  #d52941ff,
  #8499b1ff
);
$gradient-right: linear-gradient(
  90deg,
  #628b48ff,
  #edeec0ff,
  #46494cff,
  #d52941ff,
  #8499b1ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #628b48ff,
  #edeec0ff,
  #46494cff,
  #d52941ff,
  #8499b1ff
);
$gradient-left: linear-gradient(
  270deg,
  #628b48ff,
  #edeec0ff,
  #46494cff,
  #d52941ff,
  #8499b1ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #628b48ff,
  #edeec0ff,
  #46494cff,
  #d52941ff,
  #8499b1ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #628b48ff,
  #edeec0ff,
  #46494cff,
  #d52941ff,
  #8499b1ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #628b48ff,
  #edeec0ff,
  #46494cff,
  #d52941ff,
  #8499b1ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #628b48ff,
  #edeec0ff,
  #46494cff,
  #d52941ff,
  #8499b1ff
);
$gradient-radial: radial-gradient(
  #628b48ff,
  #edeec0ff,
  #46494cff,
  #d52941ff,
  #8499b1ff
);
